In [2]:
import pandas as pd

In [3]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neimar', 'Messi'],
          index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neimar
30     Messi
dtype: object

In [4]:
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neimar', 30: 'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neimar
30     Messi
dtype: object

In [8]:
psg_players[7]

'Mbappe'

In [13]:
dict = {'Jugador': ['Navas', 'Mbappe', 'Neimar', 'Messi'],
        'Altura': [183.0, 170.0, 170.0, 160.0],
        'Goles': [200,200,200,200]}
df_players = pd.DataFrame(dict, index=[1,7,10,30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0    200
7   Mbappe   170.0    200
10  Neimar   170.0    200
30   Messi   160.0    200

In [14]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [15]:
df_players.index

Index([1, 7, 10, 30], dtype='int64')